
html,body{
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: default;
    /*background-color: #01f0F0;*/
    overflow: hidden;
    font-family: sans-serif;
    margin: 0px;
}

.musicHeadDiv{
    background: #c62f2f;
    width: 100%;
    height: 50px;
    /*position: fixed;*/
    top: 0px;
    -webkit-app-region: drag;
}
    
.bottomController{
    border-top:1px double #e1e1e2;
    background: #f6f6f8;
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0px;
}
.fileArea{
    height: 429px;
    width: 100%;
    border-top:1px solid #c6c6c6;
    display: inline-block;
}
.menu{
    /*border:1px solid #000;*/
    height: 450px;
    width: 130px;
    display: inline-block;
    position: relative;
    background-color: #dbd7d6;
    color: #a5acb1;
    font-size: 14px;
}
.menu>.myMusicMenu{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu>.downloadMusicDiv{
    background-color: #c8c6c5;
    padding-left: 30px;
    color: #716f71;
    padding-top: 5px;
    padding-bottom: 5px;
}
.neirong{
    /*border:1px solid #000;*/
    height: 450px;
    width: 646px;
    display: inline-block;
    margin: 0 auto;
    position: fixed;
    background-color: #fafafa;
}
.fileBody{
    /*border:1px solid #000;*/
    height: 404px;
    overflow-y: scroll;
}
table{
    width: 100%;
    word-break:break-all;
    text-overflow: ellipsis;
}
tr{
    height: 20px;
    overflow: auto;
    transition: all .2s ease;
}
tr:hover {
    background-color: #01f0F0;
    color: #fff;
    cursor:pointer;
}
td{
    height: 20px;
    padding: 0px;
}
th,td{text-overflow : clip}
th.col0,td.col0{max-width:30px;min-width:30px; width: 30px;text-align: center}
th.col1,td.col1{min-width:calc(100% - 160px);max-width:calc(100% - 160px);width: calc(100% - 160px)}
th.col3{min-width: 96px; max-width:96px;width: 96px}
td.col3,th.col2,td.col2{min-width: 80px; max-width:80px;width: 80px}

.player{
    display: inline-block;
    width: 100%;
    height: 48px;
    }
.playerControllers{
    width: 150px;
    height: 45px;
    position: relative;
    display: inline-block;
}
.playButton,.nextButton,.previousButton{
    position: relative;
    vertical-align: middle;
    padding: 6px;
}
.musicTimer{
    color: #a5acb1;
    font-size: 14px;
    position: relative;
}
.slider{
    display:inline-block;
    width: 400px;
    height: 4px;
    background-color: #e6e6e8;
    border-radius: 6px;
    margin: 0 auto;
    margin-left: 10px;
    top: -3px;
    position: relative;
    }
.slider>.processor{
    width: 4px;
    height: 100%;
    background-color: #e83c3c;
    border-radius: 6px;
    position: absolute;
}
.slider>.controller{
    position: relative;
    width: 4px;
    height: 4px;
    border: 4px solid #fff;
    background-color: #e83c3c;
    border-radius:50%;
    top: -4px;
    left:-6px;
}
.slider>.controller>.controllerBorder{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #c6c6c6;
    border-radius:50%;
    top: -5px;
    left:-5px;
    transition:all .2s ease ;
}
.slider>.controller>.controllerBorder:hover{
    box-shadow: 0 0 5px 0px #716f71;
    transition: all .2s ease;
    cursor: pointer;
}
.volumeSlider{
    display:inline-block;
    width: 50px;
    height: 4px;
    background-color: #e6e6e8;
    border-radius: 6px;
    margin: 0 auto;
    top: -3px;
    position: relative;
    }
.volumeSlider>.volumeProcessor{
    width: 100%;
    height: 100%;
    background-color: #e83c3c;
    border-radius: 6px;
    position: absolute;
}
.volumeSlider>.volumeController{
    position: relative;
    width: 9px;
    height: 9px;
    border: 1px solid #c6c6c6;
    background-color: #fff;
    border-radius:50%;
    top: -4px;
    left:46px;
}
.palyerTitle{
    margin: 10px;
    position: relative;
}
.crossButton{
    float: right;
    position: relative;
    margin: 9px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.minusButton{
    float: right;
    position: relative;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 9px;
    margin-right: 9px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.crossButton:hover{
    cursor: pointer;    
    -webkit-app-region: no-drag;
}

.visualizer{
    /*border:1px solid #000;*/
    display: block;
    position: relative;
    width: 776px;
    height: 121px;
    background-color: rgb(100, 100, 100);
}
.ui_button{
    border: 1px solid black;
    font-size: 12px; 
    border-radius: 3px;
}
.dirUrl{
    color: #595959;
}
.dirUrl{
    color: grey;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    /*display: none;*/
}
.geci{
    position: fixed;
    z-index: 12;
}