
html,body{
-webkit-user-select: none;
-khtml-user-select: none;
user-select: none;
cursor: default;
/*background-color: #01f0F0;*/
overflow: hidden;
-webkit-app-region: drag;
margin: 0px;
}
.dictorySelecter{
-webkit-app-region: no-drag;    
}

.musicHeadDiv{
    background: #c62f2f;
    width: 100%;
    height: 50px;
    /*position: fixed;*/
    top: 0px;
}
.bottomController{
    border-top:1px double #e1e1e2;
    background: #f6f6f8;
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0px;
}
.fileArea{
    height: 200px;
    width: 544px;
    border-style: solid;
    overflow: hidden;
-webkit-app-region: no-drag;
}
.fileBody{
    height: 178px;
    overflow-y: scroll;
-webkit-app-region: no-drag;
}
table{
    width: 100%;
    word-break:break-all;
    text-overflow: ellipsis;
-webkit-app-region: no-drag;
}
tr{
    height: 20px;
    overflow: auto;
    transition: all .2s ease;
-webkit-app-region: no-drag;
}
tr:hover {
    background-color: #01f0F0;
    color: #fff;
    cursor:hand;
}
td{
    height: 20px;
    padding: 0px;
-webkit-app-region: no-drag;
}
th,td{text-overflow : clip}
th.col0,td.col0{max-width:20px;min-width:20px; width: 20px}
th.col1,td.col1{min-width:calc(100% - 160px);max-width:calc(100% - 160px);width: calc(100% - 160px)}
th.col3{min-width: 96px; max-width:96px;width: 96px}
td.col3,th.col2,td.col2{min-width: 80px; max-width:80px;width: 80px}

.player{
    /*margin-top: 200px;*/
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    position: fixed;
    /*bottom: 50%;*/
-webkit-app-region: no-drag;
}
.playButton,.volumeButton{
  position: relative;
  /*left:50%;*/
  top: -5px;
  /*background-image: url('./res/flatLight14.png');*/
-webkit-app-region: no-drag;
}
.musicTimer{
  color: #fff;
  text-shadow: 1px 1px 3px #4a4a4a;
  top: -24px;
  position: relative;
  left: 7px;
}
.slider{
    display:inline-block;
    width: 60%;
    height: 90px;
    background-color: #181818;
    border-top: 500px;
    height: 10px;
    background-color: #181818;
    border-top: 1px solid #0b0b0b;
    border-bottom: 1px solid #4a4a4a;
    border-radius: 6px;
    margin: 20px auto;
    margin-left: 10px;
    top: -3px;
    position: relative;
-webkit-app-region: no-drag;
}
/*.slider>.buffer{
    width: 60%;
    height: 100%;
    background-color: #535353;
    border-radius: 6px;
    position: absolute;
}*/
.slider>.processor{
    width: 8px;
    height: 100%;
    background-color: #c70c0c;
    border-radius: 6px;
    position: absolute;
}
.slider>.controller{
    position: absolute;
    width: 6px;
    height: 6px;
    border: 10px solid #f3f3f6;
    background-color: rgba(255,255,255,0);
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    top: -8px;
    left:-13px;
}
